
<div class="row" style="border-color: black; border-style: solid;">
<div  class="col-md-12" >
<h1 style="margin-top: 100px;" class="mt-5 text-center">CART IS EMPTY</h1>
<div class="col-md-12 text-center p-5">
    <img src="img/emptyCart.png" alt="" class="mb-5 w-25 p-5 pt-0 mt-0" style="">
    <a href="/orders"><input type="submit" value="VIEW YOUR ORDER" style="background-color:black ; color: white;"></a>
    
</div>
</div>
</div>

