<div class="row">
 
 <div class="col-md-6 mb-4 mx-auto mt-5">
    <div class="card mb-4">
      <div class="card-header py-3">
        <h5 class="mb-0">Login with otp</h5>
      </div>
      <div class="card-body">
        <form action="/phonenumberCheck" method="post">

        <div class="form-outline mb-4">
            <input type="password" id="form7Example4" class="form-control" name="number"/>
            <label class="form-label" for="form7Example4">phone number</label>
              {{#if phonenumberCheck}}
            <span id="passerror" style="color: red;">please enter registerd phonenumber</span>
            {{else}}
            {{/if}}
          </div>

          {{!-- <div class="form-outline mb-4">
            <input type="password" id="form7Example4" class="form-control" name="newpassword"/>
            <label class="form-label" for="form7Example4"> New Password</label>
          
          </div> --}}
  

        <button type="submit" class="btn btn-success btn-lg btn-block">
          send otp
        </button>
        </form>
      </div>
    </div>
  </div>
</div>