



<div class="row">
 
 <div class="col-md-6 mb-4 mx-auto mt-5">
    <div class="card mb-4">
      <div class="card-header py-3">
        <h5 class="mb-0">An OTP has been sent to your phone number</h5>
      </div>
      <div class="card-body">
        <form action="/signupotp" method="post">

        <div class="form-outline mb-4">
            <input type="password" id="form7Example4" class="form-control" name="otp"/>
            <label class="form-label" for="form7Example4">OTP</label>
         
        </div>

      
  

        <button type="submit" class="btn btn-success btn-lg btn-block">
          login
        </button>
        </form>
      </div>
    </div>
  </div>
</div>