<div class="row">
 
 <div class="col-md-6 mb-4 mx-auto mt-5">
    <div class="card mb-4">
      <div class="card-header py-3">
        <h5 class="mb-0">Update Details</h5>
      </div>
      <div class="card-body">

        <div class="form-outline mb-4">
            <input type="text" id="form7Example4" class="form-control" />
            <label class="form-label" for="form7Example4">Name</label>
          </div>

          <div class="form-outline mb-4">
            <input type="text" id="form7Example4" class="form-control" />
            <label class="form-label" for="form7Example4">Email</label>
          </div>

        
          <div class="form-outline mb-4">
            <input type="text" id="form7Example4" class="form-control" />
            <label class="form-label" for="form7Example4">Phone</label>
          </div>
  

        <button type="button" class="btn btn-success btn-lg btn-block">
          Update
        </button>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3 justify-content-around">

<a href="/userEditAddress" style="height: 45px;" class="col-sm-3 btn btn-primary">ADD ADDRESS</a>      
<a href="/userEditDetails" style="height: 45px;" class="col-sm-3 btn btn-primary">UPDATE DETAILS</a>      
<a href="/usereditPassword" style="height: 45px;" class="col-sm-3 btn btn-primary">UPDATE PASSWORD</a>      
</div>